<html>  
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
	</head>
	<body>
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
		<div class="header">
			<div class="inner-header">
				<a class="logo" href="#">LOGO</a>
				<div class="menu">
					<a class="menu-item" href="#">акции</a>
					<a class="menu-item" href="#">симуляция</a>
					<div class='pr-space-5'></div>
					<a class="menu-item" href="#">о проекте</a>
					<a class="menu-item" href="#">контакты</a>
				</div>
			</div>
		</div>
		<div class="content">
			
			<div class="graphs">
				<div class="tickers">
					<form method="post" action="/">
					{% for ticker in response.tickers %}
						{% if ticker==response.active %}
							<button class="ticker active" type="submit" name="select_ticker" value="{{ ticker }}">{{ ticker }}</button>
						{% else %}
							<button class="ticker" type="submit" name="select_ticker" value="{{ ticker }}">{{ ticker }}</button>
						{% endif %}
					{% endfor %}
					</form>
				</div>
				<div id="graphs-windows" class="graphs-windows drop_list">

					{% for g_id, g_class, g_name, g_plot in response.graphs %}
						{% if g_plot %}
							<div id="{{ g_id }}" class="graph-{{ g_class }}">
							<script>
									var graphs = {{g_plot | safe}};
									var div_parent = document.getElementById( "{{ g_id }}" );

									config = {"displayModeBar": false,
											 "doubleClick": "autosize",
											 "autosizable": false,
											 "responsive": true,
											 "scrollZoom": true,
											 "showAxisDragHandles": true,
											 "showAxisRangeEntryBoxes": true,
											 }

									graphs.config = config
									layout = {"width": div_parent.offsetWidth,
											  "height": div_parent.offsetHeight}
									var plot = Plotly.newPlot("{{ g_id }}", graphs, layout, config);
							</script>
							</div>
						{% else %}
							<div class="no_graphs">
								<p>Something was wrong... We are already fixing...</p>
							</div>
						{% endif %}
					{% endfor %}
				</div>
				<hr class="hr">
				<div class="predict">
					<div class='review'>
						<p>review</p> 
					</div>	
					<div class="metrics">
						<div>
							<p class="unvisible"> </p>
							<p> 1d</p>
						</div>
						<div>
							<p>class</p>
							<p>up</p>
						</div>
						<div>
							<p>value</p>
							<p>100</p>
						</div>
						<div>
							<p>likelyhood</p>
							<p>73%</p>
						</div>
					</div>	
				</div>
			</div>

			<div class="footer">
				<div class="footer-logo">
					<p>(r) bfp</p>
				</div>
			</div>

		</div>
	</body>
	<script src="{{url_for('static', filename = 'js/func.js')}}"></script>
</html>
